@page "/customer/{slug}/{subSlug?}"
@model LawFirmCMS.Pages.Customer.DynamicPageModel
@inject LawFirmCMS.Data.ApplicationDbContext Context
@{
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
@{
    ViewData["Title"] = Model.PageData?.Title ?? "Page Not Found";
}

<div class="page-elements-container">
    @foreach (var element in Model.PageElements)
    {
        <div class="page-element">
            @switch (element.Type)
            {
                case LawFirmCMS.Data.Enums.PageElementType.Heading:
                    <h1 class="element-heading">@Html.DisplayFor(model => element.TextData)</h1>
                    break;

                case LawFirmCMS.Data.Enums.PageElementType.Image:
                    await Html.RenderPartialAsync("_PageElementImage", element);
                    break;

                case LawFirmCMS.Data.Enums.PageElementType.RichText:
                    <div class="element-richtext">@Html.Raw(element.TextData)</div>
                    break;

                case LawFirmCMS.Data.Enums.PageElementType.Employee:
                    var employee = Context.Employees.First(em => em.Id == Int32.Parse(element.TextData));
                    
                    <div class="element-employee card">
                        @if (employee.Picture != null)
                        {
                            var mimeType = employee.GetMimeType();
                            <img class="card-img-top element-employee-image" src="data:@mimeType;base64,@Convert.ToBase64String(employee.Picture)" alt="Image" />
                        }
                        <div class="card-body">
                            <h5 class="card-title">@employee.Name @employee.Surname</h5>
                            <h6 class="card-subtitle mb-2 text-muted">@employee.Login</h6>
                            <p class="card-text">@employee.Expertise</p>
                        </div>
                    </div>
                    break;

                default:
                    <p class="element-unsupported">[Unsupported Element]</p>
                    break;
            }
        </div>
    }
</div>
