@using LawFirmCMS.Data.Models
@inject LawFirmCMS.Data.ApplicationDbContext DbContext
@inject LawFirmCMS.Services.ConfigurationService ConfigurationService

@{
    var parentlessPages = DbContext.CustomPages.Where(page => !page.IsDeleted && page.ParentId == null).ToList();
}

<!DOCTYPE html>
<html lang="en" ="">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - LawFirmCMS</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <!-- Option 1: Include in HTML -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="~/LawFirmCMS.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="~/css/custom.css" asp-append-version="true" />
</head>
<body>
    <div class="d-flex flex-column min-vh-100">
        <header class="site-header">
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <div class="container">
                    <a class="navbar-brand" asp-area="" asp-page="/Index">
                        <img src="~/img/Logo.png" alt="Logo" width="150">
                    </a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav ms-auto">
                            @if (parentlessPages.Any())
                            {
                                foreach (var pageData in parentlessPages)
                                {
                                    if (pageData.IsDeleted == false)
                                    {
                                        if (pageData.IsGroup && pageData.Children?.Count > 0)
                                        {
                                            <li class="nav-item dropdown">
                                                <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                                    @pageData.Title
                                                </a>
                                                <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                                                    @foreach (var child in pageData.Children.OrderBy(child => child.Id))
                                                    {
                                                        <li><a class="dropdown-item" asp-page="/Customer/DynamicPage" asp-route-slug="@pageData.Path" asp-route-subSlug="@child.Path">@child.Title</a></li>
                                                    }
                                                </ul>
                                            </li>
                                        }
                                        else if (!pageData.IsGroup)
                                        {
                                            <li class="nav-item">
                                                <a class="nav-link" asp-page="/Customer/DynamicPage" asp-route-slug="@pageData.Path">@pageData.Title</a>
                                            </li>
                                        }
                                    }
                                }
                            }
                            else
                            {
                                <li class="nav-item">
                                    <span class="nav-link text-muted">No pages available</span>
                                </li>
                            }
                        </ul>

                        @if (ConfigurationService.IsBlogVisible()){
                            <li class="nav-item">
                                <a class="nav-link" asp-page="/Customer/Posts/Index">Publications</a>
                            </li>
                        }
                        <a asp-page="/Customer/Forms/Create" class="nav-link contact-us-link ms-3">Contact Us</a>
                    </div>
                </div>
            </nav>
        </header>

        <div class="">
            <main role="main">
                @RenderBody()
            </main>
        </div>

        <footer class="bg-dark text-white">
            <div class="container">
                <div class="d-flex flex-column flex-sm-row justify-content-between py-4 my-4">
                    <p>&copy; 2025 - LawFirmCMS. All Rights Reserved.</p>
                    @Html.Raw( DbContext.Configurations.FirstOrDefault(conf => conf.Key == Configuration.FOOTER)?.Value)
                </div>
            </div>
        </footer>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/custom.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
