@page
@model LawFirmCMS.Pages.Admin.Employees.IndexModel
@inject LawFirmCMS.Services.AccountService AccountService
@{
    Layout = "~/Pages/Admin/Shared/_AdminLayout.cshtml";
}
@{
    ViewData["Title"] = "Index";
    ViewData["NavigationEmployees"] = "active";
}

<h1>Employees</h1>

<p>
    <a class="btn btn-primary" asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Employee[0].Login)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employee[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employee[0].Surname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employee[0].Expertise)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employee[0].Boss)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employee[0].Picture)
            </th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Employee) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Login)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Surname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Expertise)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Boss)
            </td>
            <td>
                @if (item.Picture != null)
                {
                    var popupId = $"popupContainer_{item.Id}";
                    var buttonId = $"openPopupBtn_{item.Id}";
                    var closeButtonId = $"closePopupBtn_{item.Id}";

                    <button class="btn btn-light" id="@buttonId">Show picture</button>

                    <div id="@popupId" class="popup-container" style="display:none;">
                        <div id="@closeButtonId" class="btn close-btn">&times;</div>
                        @{
                            var mimeType = item.GetMimeType();
                        }
                        <img src="data:@mimeType;base64,@Convert.ToBase64String(item.Picture)" alt="Image" class="popup-image" />
                    </div>
                }
                else
                {
                        <p>No picture</p>
                }
            </td>
            <td width="190">
                    @if (AccountService.IsBoss() || AccountService.LoggedId() == item.Id){
                        <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a>
                        <div class="vr"></div>
                    }
                    <a asp-page="./Details" asp-route-id="@item.Id">Details</a>
                    @if (AccountService.IsBoss() )
                    {
                        <div class="vr"></div>
                        <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                    }  
            </td>
        </tr>
}
    </tbody>
</table>

@section Scripts {
    <script src="site.js"></script>
}